<script>
  {#redirect url#}
  {% if page_options.redirect %}
    location.href = '{{ page_options.redirect }}';
  {%endif %}

  let websocket_ready = false;

  {#todo #}
  {% include 'js/event_handler.js' %}
  {% include 'js/html_component.js' %}

  {% if page_options.title is not none %}
    document.title = '{{ page_options.title }}';
  {%endif %}
  {#  todo #}
  {% if page_options.display_url is not none %}
    window.history.pushState("", "", '{{ page_options.display_url }}');
  {%endif %}
  let page_id = {{ page_id | safe }};
  let websocket_id = '';
  let use_websockets = JSON.parse('{{ use_websockets }}');
  let justpyComponents = {{ justpy_dict | safe }};
  let crosshairs = [];
  // for other variables
  let web_socket_closed = false;
  let socket;

  {% for event in page_options.events %}
    document.addEventListener('{{ event }}', function (evt) {
      console.log('after event', {{ event }})
      debugger
      const e = {
        'event_type': '{{ event }}',
        'visibility': document.visibilityState,
        'page_id': page_id,
        'websocket_id': websocket_id
      };
      send_to_server(e, 'page_event', false);
    });
  {% endfor %}

  if (use_websockets) {
    {# websocket #}
    console.log(location.protocol + ' Domain: ' + document.domain);
    if (location.protocol === 'https:') {
      let protocol_string = 'wss://'
    } else {
      protocol_string = 'ws://'
    }
    if (location.port) {
      socket = new WebSocket(protocol_string + document.domain + ':' + location.port);
    } else {
      socket = new WebSocket(protocol_string + document.domain);
    }

    socket.addEventListener('open', function (event) {
      send_to_server(null, 'connect', false)
      websocket_ready = true;
    });

    socket.addEventListener('error', function (event) {
      console.log('Websocket closed');
      let ok_to_reload = confirm('Page needs to be reloaded, click OK to reload');
      if (ok_to_reload) window.location.reload()
    });

    socket.addEventListener('close', function (event) {
      console.log('Websocket closed');
      web_socket_closed = true;
      let ok_to_reload = confirm('Page needs to be reloaded, click OK to reload');
      if (ok_to_reload) window.location.reload()
    });

    socket.addEventListener('message', function (event) {
      let msg = JSON.parse(event.data);
      {% if page_options.debug %}
        console.log('Message received from server ', msg);
        console.log(event);
      {% endif %}

      let e = {};
      // todo check switch
      console.log('switch: ', msg.event_type)
      switch (msg.event_type) {
        case 'page_update':
          if (msg.page_options.redirect) {
            location.href = msg.page_options.redirect;
            break;
          }
          if (msg.page_options.open) {
            window.open(msg.page_options.open, '_blank');
          }
          if (msg.page_options.display_url !== null)
            window.history.pushState("", "", msg.page_options.display_url);
          document.title = msg.page_options.title;

          app1.justpyComponents = msg.data;

          break;
        case 'run_javascript':
          eval(msg.data);
          break;
        default: {

        }
      }
    });
  }
  // No websockets
  else {
    window.addEventListener('beforeunload', function (event) {
      e = {
        'event_type': 'beforeunload',
        'page_id': page_id,
      };
      send_to_server(e);
    });
  }


  let app1 = new Vue({
    el: '#components',
    data: {
      justpyComponents: justpyComponents
    },
    render: function (h) {
      let comps = [];
      for (let i = 0; i < this.justpyComponents.length; i++) {
        if (this.justpyComponents[i].show) {
          comps.push(h(this.justpyComponents[i].vue_type, {
            props: {
              jp_props: this.justpyComponents[i]
            }
          }))
        }
      }
      return h('div', {}, comps);
    }
  });


  {% if page_options.reload_interval %}
    setInterval(function () {
      $.ajax({
        type: "POST",
        url: "/zzz_justpy_ajax",
        data: JSON.stringify({
          'type': 'event',
          'event_data': {
            'event_type': 'page_update',
            'page_id': {{ page_id | safe }}
          }
        }),
        success: function (msg) {
          if (msg) app1.justpyComponents = msg.data;
        },
        dataType: 'json'
      });
    }, 1000 * {{ page_options.reload_interval }});
  {% endif %}

</script>