<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  {% if template_options.tailwind %}
    <link href="/templates/local/tailwind/base.css" rel="stylesheet">
    <link href="/templates/local/tailwind/components.css" rel="stylesheet">
    <link href="/templates/local/tailwind/typography.css" rel="stylesheet">
    <link href="/templates/local/tailwind/utilities.css" rel="stylesheet">
    <style>
      {% include 'css/form.css' %}
    </style>
  {% endif %}


  <link rel="stylesheet"
        href="/templates/local/fontawesome/css/all.min.css"/>

  <style>
    {{ page_options.css }}
  </style>

  {{ page_options.head_html | safe }}

  <script src="/templates/local/jquery.js"></script>
  <script src="/templates/local/vue.js"></script>

</head>


<body style="{{ page_options.body_style }}"
      class="{{ page_options.body_classes }}">
{{ page_options.body_html | safe }}
<div id="components">

</div>

{% include 'main.html' %}

</body>
</html>


