<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {% include 'favicon.html' %}

  {% if template_options.tailwind %}
    {% if template_options.no_internet %}
      <link href="/templates/local/tailwind/base.css" rel="stylesheet">
      <link href="/templates/local/tailwind/components.css" rel="stylesheet">
      <link href="/templates/local/tailwind/typography.css" rel="stylesheet">
      <link href="/templates/local/tailwind/utilities.css" rel="stylesheet">
    {% else %}
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.4.6/dist/base.min.css">
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.4.6/dist/components.min.css">
      <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@^0.1.2/dist/typography.min.css">
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.4.6/dist/utilities.min.css">
    {% endif %}
    <style>
      {% include 'css/form.css' %}
    </style>
  {% endif %}


  {% if template_options.no_internet %}
    <link rel="stylesheet" href="/templates/local/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="/templates/local/animate.css"/>
  {% else %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"/>

  {% endif %}

  <style>
    {{ page_options.css }}
  </style>

  {{ page_options.head_html | safe }}

  {% if template_options.no_internet %}
    <script src="/templates/local/jquery.js"></script>
    <script src="/templates/local/vue.js"></script>
  {% else %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  {% endif %}

  {% if template_options.highcharts %}
    {% include 'highcharts.html' %}
  {% endif %}
</head>


<body style="{{ page_options.body_style }}" class="{{ page_options.body_classes }}">
{{ page_options.body_html | safe }}
<div id="components">

</div>

{% include 'main.html' %}

</body>
</html>


